* {
margin: 0;
padding: 0;
font-family: "montserrat", sans-serif;
}

body {
    background: #333;
    background: url(../images/galxy/galaxy5.png) center ;
}
#btn-div{

    text-align: right;
    background-color: transparent;
    border: 0;
}

.button1 {
        
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhance-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: 0.25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
    text-shadow: 0 0 0.5em var(--glow-color);
    transition: all 0.3s;
    margin-top: 40px;
    margin-right: 70px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px; 
    display: inline-block;   
    
    
 }

 .button1::after{
    pointer-events: none;
    content: "";
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: 0.7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);

 }
 
 .button1:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
 }

 .button1:active {
    box-shadow: 0 0 0.6em 0.25 em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
 }


.container {
   
    background-size: cover;
    padding: 100px 40px;
    text-align: center;
    color: #cc9fd3;
    
    
}

.container p {
    max-width: 800px;
    margin: 40px auto;
    font-size: 50px;
    font-weight: 300;
}

.email-box {
    height: 40px;
    display: flex;
    justify-content: center;

}

.email-box i {
    background: #2f3542;
    width: 40px;
    line-height: 40px;
}

.tbox, .btn {
    border: none;
    outline: none;
}

.tbox {
    width: 0;
    transition: 0.6s;
  
}

.email-box:hover > .tbox, .tbox:focus {
    width: 260px;
    padding: 0 10px;
}

.btn {
    background: #2f3542;
    color:#c7a6cd;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
}