body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top left, #3333cc 0%, #ff99ff 99%);
}

#btn-div{

    text-align: right;
    background-color: transparent;
    border: 0;
}

.button1 {
        
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhance-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: 0.25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
    text-shadow: 0 0 0.5em var(--glow-color);
     transition: all 0.3s;
    margin-top: 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px; 
    display: inline-block;   
    
    
 }

 .button1::after{
    pointer-events: none;
    content: "";
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: 0.7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);

 }
 .button1:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
 }

 .button1:active {
    box-shadow: 0 0 0.6em 0.25 em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
 }

 .button2 {
        
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhance-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: 0.25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
    text-shadow: 0 0 0.5em var(--glow-color);
    transition: all 0.3s;
    margin-top: 40px;
    margin-right: 70px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px; 
    display: inline-block; 
        
 }

 .button2::after{
    pointer-events: none;
    content: "";
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: 0.7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);

 }
 .button2:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
 }

 .button2:active {
    box-shadow: 0 0 0.6em 0.25 em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
 }

.container {
    max-width: 100%;
    margin: 0;
    padding: 50px;
    
}

.image-div {
    display: block;
    max-width: 100%;
    height: 550px;
    width: 750px;
    margin: 0 30px 20px 0;
    border-radius:  10%;
    float: left;
    }

h1 {
    text-align: center;
    }

p {
    line-height: 1.6;
    letter-spacing: 3px;
    word-spacing: 8px;
    text-align: justify;
}

.top-div, .central-div, .bottom-div {
    position: relative;
}

.text-left {
    flex: 1;
    text-align: left;
    padding: 0 20px;
}

.top-div {
    padding-bottom: 20px;
}

.central-div {
    padding-bottom: 20px;
    clear: both;
}

.bottom-div {
    padding-bottom: 0;
    border-bottom: none;
    clear: both;
}

